* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#trythemes {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #dfb9b9;
    color: white;
    width: 250px;
    padding: 1rem;
}       

#trythemes p {
    font-size: 1.1rem;
    font-weight: 600;
}

#trythemes label {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}